{% load static %} 

<!-- <link href="{% static '/css_files/main.css' %}" rel="stylesheet" type="text/css">

<h3>hello word</h3>

<img src="{% static 'images/oni.png' %}">
 -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
		content="width=device-width, initial-scale=1.0">


		<title>☆ ewunet endalk ☆</title>
		<link href="{% static '/css_files/main.css' %}" rel = "stylesheet" type="text/css">
	</head>

	<body>
		<div id="wholepage">
		<div class="container" id="pagewrapper">
		<div class="heading">

		<h1>this is my heading</h1></div>

		<ul> 
			<li>hello! my name is ewunet endalk, and i am a senior at duke university.</li>

			<li>i'm currently majoring in computer science, while also studing visual & media studies as my minor.</li>

			<li>i'm very passionate about both fields of study, and look forward to different career opportunities that explore either one!</li>

			<li>if you want to learn more about me,  my resume is linked below. my git accounts and my linkedin can also be found there. </li>
		</ul>

		<h2>enjoy your stay!</h2>

	</body>
</html> 


