{% load static %} 

<link href="{% static '/css_files/main.css' %}" rel="stylesheet" type="text/css">

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
		content="width=device-width, initial-scale=1.0">


		<title>ewunet endalk</title>
		<link href="{% static '/css_files/main.css' %}" rel = "stylesheet" type="text/css">
	</head>

<div class="container">
	<body>
		<div class="content_square">
		<div class="heading"><h1>welcome!</h1></div>

		<div class="left-col">
			<img class="self_portrait" src="{% static 'images/hello_kitty.gif' %}"></div>
		<div class="center-col">
			<ul>
				<li class="top_para">hello! my name is <u>ewunet endalk</u>, and i am a <u>senior at duke university</u>.</li>

				<li class="bottom_para">i'm majoring in <u>computer science</u> and minoring in <u>visual & media studies</u>.</li>
			</ul>
			<nav> 
				<ul class="bottom_links">
					<li id="resume"><a href="https://youtube.com" target="_blank">resume</a></li>
					<li id="linkedin"><a href="https://linkedin.com/in/ewunet" target="_blank">linkedin</a></li>
				</ul>
			</nav>	
		</div>
		<div class="right-col">
			<ul> 
				<li class="top_para">in my free time i enjoy watching cartoons and drawing people :)</li>

				<li class="bottom_para">check out the links below if you want to learn more about me! (o˘◡˘o)</li>
			</ul>
			<nav> 
				<ul class="bottom_links">
					<li id="github"><a href="https://github.com/ewunet" target="_blank">github</a></li> 
					<li id="blog"><a href="https://ewunet.tumblr.com" target="_blank">blog</a></li> 
				</ul>
			</nav>	
		</div>
		<!-- <nav> 
			<ul class="bottom_links">
				<li id="resume"><a href="https://youtube.com" target="_blank">resume</a></li>
				<li id="github"><a href="https://github.com/ewunet" target="_blank">github</a></li> 
				<li id="linkedin"><a href="https://linkedin.com/in/ewunet" target="_blank">linkedin</a></li>
				<li id="blog"><a href="https://ewunet.tumblr.com" target="_blank">blog</a></li> 
			</ul>
		</nav> -->
	</div> <!-- closing tag for div content square element -->
	</body>

	<div class="footer"><sup>**</sup>all graphics handdrawn by me!</div>
</div>
</html> 


