{% load static %} 

<link href="{% static '/css_files/main.css' %}" rel="stylesheet" type="text/css">

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
		content="width=device-width, initial-scale=1.0">


		<title>ewunet endalk</title>
		<link href="{% static '/css_files/main.css' %}" rel = "stylesheet" type="text/css">
	</head>

	<body>
		<div id="wholepage">
		<div class="container" id="pagewrapper">
		<div class="heading"><h1>welcome!</h1></div>


		<div class="left-col"></div>
		<div class="center-col">
			<ul>
				<li>hello! my name is ewunet endalk, and i am a senior at duke university.</li>

				<li>i'm majoring in computer science and minoring in visual & media studies.</li>
			</ul>
		</div>
		<div class="right-col">
			<ul> 
				<li>in my free time i enjoy listening to music, reading books, and drawing.</li>

				<li>check out the links below if you want to learn more about me! (o˘◡˘o)</li>
			</ul>
		</div>
		<div class="navbar"> 
			<a href="www.youtube.com" class="links">resume</a>
			<a href="https://github.com/ewunet"  class="links">github</a> 
			<a href=" www.linkedin.com/in/ewunetendalk" class="links">linkedin</a>
		</div>
	</div> <!-- closing tag for div container element -->
	</body>

	<div class="footer"> all graphics handdrawn by me!</div>
</html> 


