.container {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

	font-family: monospace; 
}

.content_square {
	border: 2px black solid;
	height: 500px;
	width: 750px;
}

.heading {
	text-align: center;	
	border-bottom:  1px black solid;
	font-size: 14px;
	font-style: italic;
}

.self_portrait {
	width: 200px;
	height: 400px;

	position: relative;
	left: 35px;

/*	margin-left: 5px;
	margin-top: 5px;*/
}

body {
	display: inline-block;
	justify-content: center;
	align-items: center;	
}

.left-col {
	left: 10px;
}

.left-col, .center-col, .right-col {
	width: 250px;
	float: left;
	padding: 0px 0px 0px 0px;	

	position: relative;
	top: 10px
}

.center-col, .right-col {
	line-height: 160%;
	font-size: 17px;
	right: 20px;
	/*background-color:  gray;*/
}

.top_para {
	padding-bottom: 20px;
}

/*.bottom_para {
	paddi
}*/

.bottom_links {
	list-style: none;
	/*margin-left: 50px;
	margin-right: 50px;

	border:solid black;
	border-radius: 20px 20px 20px 20px;
    color: black;
    padding: 26px 32px;
    font-size: 15px;
    text-decoration: none;*/
}

/*.bottom_links li {
	justify-content: center;
	align-items: center;
}*/

.bottom_links li a{ 
	/*margin-left: 40px;
	margin-right: 40px;*/

	display: block;
	position: relative;
	top: 5px;
	right: 10px;
	
	border: 1px solid black;
	border-radius: 20px 20px 20px 20px;
    color: black;
    padding: 10px;

    font-size: 15px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

#linkedin, #blog {
	margin-top: 15px;
}

.bottom_links li a:hover {
	color: white;
	background-color: black;
	border: 1px solid hotpink;
}

.footer {
	position: relative;
	top: 10px;
}