#pagewrapper {
	border: 2px black solid;
	min-height: 500px;
}

#wholepage {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.heading {
	text-align: center;	
	border:  1px black solid;
}

.links {
	text-align: center;
	font-family: monospace;
	float: left;
	border:solid black;
	border-radius: 20px 20px 20px 20px;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

.links:hover {
	color: white;
	background-color: black;
	border: solid hotpink;
}