.container {
	border: 2px black solid;
	min-height: 470px;
	min-width: 800px;
	padding:  3px;

	font-size: 15px;
}

/*#wholepage {
	width: 800px;
	font-family: monospace; 
	font-size: 15px;
	margin:  auto;
}*/

.heading {
	text-align: center;	
	border-bottom:  1px black solid;
	font-size: 14px;
	font-style: italic;
}

.left-col {
	width: 40%;
	float: left;
	padding: 1px;		
}

.center-col, .right-col {
	width: 25%;
	float: left;
	padding: 1px;	
	line-height: 175%;
}

.links {
	margin-left: 50px;
	margin-right: 50px;

	border:solid black;
	border-radius: 20px 20px 20px 20px;
    color: black;
    padding: 26px 32px;
    font-size: 15px;
    text-decoration: none;
}

.links:hover {
	color: white;
	background-color: black;
	border: solid hotpink;
}

.footer {
	/*font-family: monospace;*/
}